@import "~bootstrap/scss/bootstrap";

.header-section {
    width: 100%;
    background-color: #000;

    .inner-box {
        padding: 5px;;
    }

    .header-items {
        margin-left: 10px;
    }
}